@import "tailwindcss";

@theme {
  --color-primary: #e20054;
  --color-secondary: #253343;
  --color-subtle: #445a74;
  --color-muted: #647e9a;
  --color-heading: #0a2a51;

  --color-background: #e9edf5;
  --color-surface: #ffffff;
  --color-surface-muted: #f5f7fa;

  --color-card: #ffffff;
  --color-border: #e9edf5;

  --color-badge: #fce5ee;

  --color-label: #57728e;
  --color-value: #30445b;

  --font-family-dana: "Dana", sans-serif;
}

@font-face {
  font-family: "Dana";
  src:
    url("~/fonts/DanaVF.woff2") format("woff2"),
    url("~/fonts/DanaVF.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: var(--font-family-dana) !important;
}

body {
  direction: rtl;
}
