/* Yekan Bakh */

@font-face {
  font-family: "Yekan Bakh";
  src: url("~/assets/fonts/yekan-bakh-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("~/assets/fonts/yekan-bakh-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("~/assets/fonts/yekan-bakh-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("~/assets/fonts/yekan-bakh-heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Yekan */

@font-face {
  font-family: "Yekan";
  src: url("~/assets/fonts/yekan-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan";
  src: url("~/assets/fonts/yekan-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan";
  src: url("~/assets/fonts/yekan-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
