@import "tailwindcss";
@import "fonts.css";

@theme {
  --color-primary: #e20054;
  --color-primary-light: #fce5ee;
  --color-secondary: #253343;
  --color-subtle: #445a74;
  --color-muted: #647e9a;
  --color-heading: #0a2a51;

  --color-background: #e9edf5;
  --color-surface: #ffffff;
  --color-surface-muted: #f8f9fc;

  --color-card: #ffffff;
  --color-border: #e9edf5;

  --color-badge: #fce5ee;

  --color-label: #57728e;
  --color-value: #30445b;

  --font-body: "Yekan Bakh", sans-serif;
  --font-heading: "Yekan", sans-serif;

  --z-index-header: 50;
  --z-index-mobile-nav: 40;
  --z-index-lightbox: 60;
  --z-index-lightbox-controls: 61;

  --animate-fade-up: fade-up 250ms ease-out;
  --animate-slide-up: slide-up 250ms ease-out;
}

* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-secondary);
}

.container {
  max-width: 1176px;
  @apply mx-auto px-4 md:px-8;
}

.ltr {
  direction: ltr;
  text-align: left;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
