@import "tailwindcss";

@theme {
  --color-primary: #e20054;
  --color-secondary: #253343;
  --color-subtle: #445a74;
  --color-muted: #647e9a;
  --color-heading: #0a2a51;

  --color-background: #e9edf5;
  --color-surface: #ffffff;
  --color-surface-muted: #f5f7fa;

  --color-card: #ffffff;
  --color-border: #e9edf5;

  --color-badge: #fce5ee;

  --color-label: #57728e;
  --color-value: #30445b;

  --font-body: "Yekan Bakh", sans-serif;
  --font-heading: "Yekan", sans-serif;

  --z-index-header: 50;
}

/* Yekan Bakh */

@font-face {
  font-family: "Yekan Bakh";
  src: url("~/fonts/yekan-bakh-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("~/fonts/yekan-bakh-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("~/fonts/yekan-bakh-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("~/fonts/yekan-bakh-heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Yekan */

@font-face {
  font-family: "Yekan";
  src: url("~/fonts/yekan-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan";
  src: url("~/fonts/yekan-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan";
  src: url("~/fonts/yekan-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
